<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cnxSiager" connectionString="Data Source=10.18.2.21;Initial Catalog=siager;Persist Security Info=True;User ID=siager;Password=$14Ger;Connection Lifetime=1; Max Pool Size=3000" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
  <appSettings>
    <!--SECCION DE VARIABLES PARA EL DISEÑO DE LA MASTER PAGE-->
    <add key="nombreSistemaLargo" value="CFE DIV.SURESTE" />
    <add key="nombreSistemaCorto" value="CFE" />
    <add key="numeroDeVersion" value="1.0" />
    <!--FIN SECCION DE VARIABLES PARA EL DISEÑO DE LA MASTER PAGE-->
    <!-- SECCION DE VARIABLES PARA EL FTP DE ARCHIVOS-->
    <add key="ftpIP" value="10.18.2.21:2222" />
    <add key="ftpUser" value="anexos" />
    <add key="ftpPassword" value="anexosS1$" />
    <add key="ftpPuerto" value="2222" />
    <add key="tamanioMax" value="12582912" />
    <!-- FIN SECCION DE VARIABLES PARA EL FTP DE ARCHIVOS-->
    <!-- variables para Id sistema-->
    <add key="idSistema" value="ID0146" />
    <!--FIN variables para Id sistema-->
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
