<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="PodaProjectConnectionString" connectionString="Data Source=.;Initial Catalog=PodaProject;Persist Security Info=True; User ID=admin; Password=admin"
        providerName="System.Data.SqlClient" />
    <add name="PruebaCadena" connectionString="Data Source=.; Initial Catalog=PodaProject; Persist Security Info=True; User ID=admin; Password=admin;"
         providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
